<div class="container-fluid">
    <div class="row form-heading-wrap">
        <div id="main" class="col-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row exercise-video-section">
                        <span> HELLOO</span>
                        <div class="video-bg">
                            <video class="exercise-video" controls muted="muted">
                              <source src="{{ video.video_path }}" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row exercise-video-section">
                        <span> HELLOO 2</span>
                        <div class="video-bg">
                            <video class="exercise-video" controls muted="muted">
                              <source src="{{ video.video_path }}" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row classification-section">
                        <span> HELLOO 3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>