
 <div id="content-general-container">
    <div class="container-fluid">
        <div class="row exercises_level_header">
                <div class="col-md-1 buttons">
                        <span class="menu-icon-wrap">
                            <img src="assets/icons/locker.svg" width="20px" height="18px">
                        </span>
                        <button (click)="getAllPlayerVideos(1)">Nível 1</button> 
                </div>
                <div class="col-md-1 buttons">
                        <span class="menu-icon-wrap">
                            <img src="assets/icons/locker.svg" width="20px" height="18px">
                        </span>
                        <button (click)="getAllPlayerVideos(2)">Nível 2</button> 
                </div>
                <div class="col-md-1 buttons">
                        <span class="menu-icon-wrap">
                            <img src="assets/icons/locker.svg" width="20px" height="18px">
                        </span>
                        <button (click)="getAllPlayerVideos(3)">Nível 3</button> 
                </div>
                <div class="col-md-1 buttons">
                        <span class="menu-icon-wrap">
                            <img src="assets/icons/locker.svg" width="20px" height="18px">
                        </span>
                        <button (click)="getAllPlayerVideos(4)">Nível 4</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(5)">Nível 5</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(6)">Nível 6</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(7)">Nível 7</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(8)">Nível 8</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(9)">Nível 9</button> 
                </div>
                <div class="col-md-1 buttons">
                    <span class="menu-icon-wrap">
                        <img src="assets/icons/locker.svg" width="20px" height="18px">
                    </span>
                    <button (click)="getAllPlayerVideos(10)">Nível 10</button> 
                </div>
        </div>
        <div class="row">
            <div id="main" class="col-12 exercicesContainer">
                <div class="row">
                    <div class="col-md-6" *ngFor="let video of videos; index as i">
                        <div class="card col-md-6" style="margin-top: 30px;">
                            <div class="card-body">
                                <h5 class="card-title">{{video.video_name}}</h5>
                                <video style="height: 200px; width: 400px;" id="videoPlayer" controls muted="muted">
                                    <source src="{{video.video_path}}" type="video/mp4"> 
                                </video>

                                <!-- <input type="file" name="image"  ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged(i)" accept="video/mp4" style="display: none"  #fileUploader>
                                <button (click)="fileUploader.click()">
                                    Select File
                                </button>
                                <button *ngIf="uploader.queue[0]" type="button" (click)="uploadVideoOfExercise(i,video.exercise_level,video.exercise_id)" [disabled]="!uploader.getNotUploadedItems().length">
                                    Upload
                                </button>
                                <div *ngIf="uploader.queue[0] && video.file_loaded == true">
                                    {{uploader.queue[0].file?.name}}
                                </div>
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button (click)="goTOExerciseDetail(video.video_path)">
                                Select File
                            </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
