.form-heading-wrap {
    padding: 24px 0px 0px;
    ul.toggle-wrap {
        padding: 0px;
        border-bottom: 1px solid #c4c4c4;
        li.toggle-item {
            list-style-type:  none;
            .notification {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 3px 5px;
                border-radius: 20%;
                background-color: red;
                color: white;
                font-size: 11px;
            }
        }
        a.toggle-button {
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #222222;
            opacity: 0.75;
            text-align: center;
            width:  100%;
            float: left;
            padding: 3px 0px 7px;
            cursor: pointer;
            &.active{
                opacity:1;
                padding: 3px 0px;
                border-bottom: 4px solid #222;
            }
        }

    }
}

.active{
    opacity:1;
    padding: 3px 0px;
    border-bottom: 4px solid #222;
}

.exercise_rows{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    line-height:2;
}

.exercise-row{
    height: 80px;
    width: 100%;
    padding: 5px;
    background-color: white;
    margin-top: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.exercise-header{
    height: 40px;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: rgb(87, 87, 87);
    margin-top: 10px;
    //border-bottom: 1px solid black;
}